/* gallery styles */
/* scrolling gallery based on Lety's code. URL: https://stackoverflow.com/a/63454409 */

body {
    min-height: 100vh;
}

h2, h3 {
    visibility: hidden;
    height: 0;
    width: 0;
}

#scrolling {
    overflow: clip;
    position: relative;
}

#scrollingGalTop {
    margin-bottom: 2rem;
}

#scrollingGalTop, #scrollingGalBot {
    background-image: url('images/mobile/mobilegalscroll.png');
    background-size: cover;
    position: relative;
    height: 500px;
    width: auto;
    overflow: clip;
}

.scrollingGal {
    position: absolute;
    overflow: clip;
    white-space: nowrap;
}

#galTop {
    animation: bannermove 15s linear infinite;
}

#galBot {
    animation: bannermovereverse 17s linear infinite;
}

.scrollingGal img {
    max-height: 350px;
    margin: 4.5rem 4rem;
    border: 5px solid var(--dark-blue);
    border-radius: 5%;
}

/* keyframes declaration */

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes bannermovereverse {
    0% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}



/* media queries - size */

@media screen and (width > 750px) {
    

    #scrollingGalTop, #scrollingGalBot {
        background-image: url('images/desktop/DesktopDMgalbg.png');
    }


}